# Dependency directories
node_modules/
.venv/

# Generated dist files for npm
/dist

# Prepared sources for running as git dependency
/src/rencode.js
/src/rencode.d.ts

# Generated test reports
/coverage